body {
  main {
    .approach {
      background-color: $red;
      padding: 5rem 1.5rem;
      h2 {
        font-size: 2rem;
        color: white;
        line-height: 2.5rem;
        text-align: left;
        padding-bottom: 3rem;
      }
      h3 {
        font-size: 0.9375rem;
        line-height: 1.5625rem;
        color: white;
      }
      p {
        color: white;
      }
      .sub-title {
        position: relative;
        margin-bottom: 1rem;
        padding: 3rem 1rem 0rem;
        .number {
          font-weight: 800;
          font-size: 5rem;
          opacity: 20%;
          color: white;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}
