body {
  main {
    .footer {
      margin: 5rem 1.5rem;
      h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        color: $bg-black;
        margin-bottom: 3rem;
      }
      button {
        color: white;
        font-weight: 800;
        background-color: $red;
        border: none;
        height: 3rem;
        width: 10rem;
      }
    }
  }
}
