body {
  main {
    width: 100%;
    h1 {
      font-size: 2.5rem;
      text-align: left;
      line-height: 2.5rem;
    }
    p {
      font-size: 0.9375rem;
      line-height: 1.5625rem;
    }
    .container {
      .introduction {
        img {
          width: 100%;
          object-fit: cover;
          display: block;
        }
        .text-wrapper {
          margin: 3rem 1rem 2rem;
          p {
            margin-top: 1.5rem;
            text-align: left;
          }
        }
        button {
          margin-left: 1rem;
          height: 3rem;
          width: 11rem;
          border: none;
          background-color: $red;
          color: white;
          font-weight: 800;
          font-size: 1.125rem;
        }
      }
    }
  }
}
